:host {
  display: flex;
  flex-direction: column;
  height: 100%;


}

mat-card-header > div {
  width: 100%;
}


mat-card-header .mat-mdc-card-header-text {
  width: 100%;
}

.lo-chat {
  &__footer {
    padding: 20px;
  }

  &__header {
    padding: 20px;
  }


  &__scroll {
    padding: 20px;
    flex: 1 1 auto;
    overflow-x: auto;
  }

  &__message {
    margin-bottom: 20px;
  }

  &__message-header {
    display: flex;
    justify-content: space-between;
  }

  &__message-username {
    font-weight: bold;
    font-size: 12px;
  }

  &__message-date {
    font-size: 11px;
    color: #5f5f5f;
    margin-left: auto;
  }

  &__message-log {
    font-size: 11px;
    color: #ddd;
    p{
      text-align: right;
    }
  }


  &__message-body {

  }
}
