<ng-container *ngIf="(lead$ | async) as lead; else loading">
  <div class="lo-chat__header">
    <div><a class="lo-chat__header-name" [href]="lead.linkedinUuid"
            target="_blank">{{lead.firstName}} {{lead.lastName}}</a></div>
    <div>{{lead.jobTitle}}</div>
  </div>
  <mat-divider></mat-divider>

  <div class="lo-chat__scroll">
    <div class="lo-chat__message" *ngFor="let item of messages$ | async">
      <div class="lo-chat__message-header">
        <span *ngIf="item.type === messageTypes.incoming"
              class="lo-chat__message-username">{{ item.lead?.firstName }} {{ item.lead?.lastName }}</span>
        <span *ngIf="item.type === messageTypes.outgoingAutomation || item.type === messageTypes.outgoingManual"
              class="lo-chat__message-username">Me</span>
        <span class="lo-chat__message-date"
              *ngIf="item.type !== messageTypes.log">{{ item.dateOfMessage | date:'medium' }}</span></div>
      <div class="lo-chat__message-body" [class.lo-chat__message-log]="item.type === messageTypes.log">
      <p>{{item.message}} <span *ngIf="item.type === messageTypes.log">({{ item.dateOfMessage | date:'medium' }})</span></p>
    </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="lo-chat__footer">
    <div class="lo-chat__confirm-flow" *ngIf="lead.confirmLeadFlowItemId">
      <button mat-raised-button color="primary" (click)="continueFlow(lead.confirmLeadFlowItemId, true, lead.id)">Continue</button>
      <button mat-raised-button color="accent" (click)="continueFlow(lead.confirmLeadFlowItemId, false, lead.id)">Stop Flow</button>
    </div>
    form
  </div>
</ng-container>
<ng-template #loading>
  Загрузка...
</ng-template>
