.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bcbcbc;

  &__logo-block {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__title {
    margin: 0;
    color: #673ab7;
  }

  .back-icon {
    transform: translateX(25%);
  }
}
