<mat-toolbar class="header">
  <div class="header__logo-block">
    <button
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a menu icon"
      (click)="emitOpenSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

    <img
      ngSrc="https://www.park.by/upload/iblock/7b6/kgando7411fi2402210gbcoy0uiwt7jf.jpg"
      width="50"
      height="50"
      alt="logo">
  </div>

  <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

