
.node-element {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-shadow: 0 0 1px 0 rgb(0, 0, 0, 0.12), 0 1px 1px 0 rgb(0, 0, 0, 0.24);
  font-size: 10px;

  &__label {
    font-size: 13px;
    font-weight: bold;
  }

  &__text {
  }

  &__graphic {
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    border: 4px solid rgb(255, 255, 255, 1);
    background: #c1e7e3;
    display: flex;
    flex-direction: column;
    &_checkConnection{
      height: 120px;
    }
    //&_sendMessage{
    //  height: 120px;
    //  overflow: scroll;
    //}
  }
}

