<mat-toolbar class="header">
  <div class="header__logo-block">
    <button
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a menu icon"
      (click)="toggleSidenav()">
      <mat-icon
        *ngIf="sidenavOpened$ | async; else menuIcon"
        class="back-icon"
      >arrow_back_ios</mat-icon>

      <ng-template #menuIcon>
        <mat-icon>menu</mat-icon>
      </ng-template>
    </button>

    <img
      ngSrc="https://www.park.by/upload/iblock/7b6/kgando7411fi2402210gbcoy0uiwt7jf.jpg"
      width="50"
      height="50"
      alt="logo">

    <h1 class="header__title">NeatSoft Sales Tools</h1>
  </div>

  <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

