
.mat-toolbar-row, .mat-toolbar-single-row {
  height: 56px;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 1px 4px 1px #0000001f;
  z-index: 2;
  background: #fff;



  &__logo-block {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__title {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .2px;
    color: #000000;
  }

  .back-icon {
    transform: translateX(25%);
  }
}
