<table mat-table [dataSource]="dataSource">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox>
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox>
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="avatar">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <span class="lo-chat-list__avatar-wrapper" matBadge="15" matBadgeColor="warn" matBadgeSize="small" >
        <img [src]="element.avatar" class="lo-chat-list__avatar">
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let element">
      <span class="lo-chat-list__name">{{element.firstName}} {{element.lastName}}</span>
      <span class="lo-chat-list__job-title">{{element.jobTitle}}</span>
      <div class="lo-chat-list__message">
        {{element.shortMessage}}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="lastMessage">
    <th mat-header-cell *matHeaderCellDef>Last Message</th>
    <td mat-cell *matCellDef="let element">
      {{element.lastMessage}}
    </td>
  </ng-container>

  <ng-container matColumnDef="marketingCampaign">
    <th mat-header-cell *matHeaderCellDef>Marketing Campaign</th>
    <td mat-cell *matCellDef="let element">
      {{element.marketingCampaign}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
</table>
