<ns-header></ns-header>

<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" [opened]="sidenavOpened$ | async">
    <mat-nav-list>
      <a mat-list-item
         [routerLink]="['/detail']">
        <mat-icon matListItemIcon>folder</mat-icon>
        <span>Vacancies</span>
      </a>
      <a mat-list-item

         [routerLink]="['/messages']">
        <mat-icon matListItemIcon>folder</mat-icon>
        <span>Messages ({{countNewMessages$ | async}})</span>
      </a>
      <a mat-list-item
         [routerLink]="['/campaigns']">
        <mat-icon matListItemIcon>folder</mat-icon>
        <span>Campaigns</span>
      </a>
      <a mat-list-item
         [routerLink]="['/campaigns']">
        <mat-icon matListItemIcon>folder</mat-icon>
        <span>Flows</span>
      </a>
      <a mat-list-item
         [routerLink]="['/campaigns']">
        <mat-icon matListItemIcon>folder</mat-icon>
        <span>Bots</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <ng-content></ng-content>
</mat-sidenav-container>
