.container {
  height: 100%;
  flex-grow: 1;
}

.mdc-list-item--with-leading-icon .mdc-list-item__start{
  margin-right: 20px;
}
.sidenav {
  width: 200px;
  padding-top: 1rem;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      align-items: center;
      gap: 0.5rem;
      padding: 0.6rem 0 0.6rem 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 0 0.6rem 2rem;
    text-decoration: none;
    color: black;
  }
}
