<div class="main-layout">
  <ns-header></ns-header>

  <mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" [opened]="sidenavOpened$ | async">
      <ul class="sidenav__list">
        <li *ngFor="let link of sidenavLinks" class="sidenav__list-item">
          <a class="sidenav__link" [routerLink]="link.link">
            <mat-icon>{{ link.matIcon }}</mat-icon>

            <span>{{ link.text }}</span>
          </a>
        </li>
      </ul>
    </mat-sidenav>

    <div class="example-sidenav-content">
      <ng-content></ng-content>
    </div>

  </mat-sidenav-container>
</div>
