<mat-tab-group class="tab-group" mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab
    *ngFor="let filterGroup of savedFilterGroups"
    [label]="filterGroup.name"
  >
    <div class="tab-content">
      <button mat-flat-button color="primary" *ngFor="let filter of filterGroup.filters">
        {{ filter.name }}

        <mat-icon>cancel</mat-icon>
      </button>

      <button mat-flat-button color="accent">
        <mat-icon>add</mat-icon>
        Add a filter
      </button>
    </div>
  </mat-tab>
</mat-tab-group>
