//@import "styles/variables";

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  height: 100%;
  flex-grow: 1;
}

.sidenav {
  width: 20%;
  padding-top: 1rem;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      align-items: center;
      gap: 0.5rem;
      padding: 0.6rem 0 0.6rem 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 0 0.6rem 2rem;
    text-decoration: none;
    color: black;
  }
}
